@import "tailwindcss/base";
@import "tailwindcss/components";

/* Your own custom component styles */

@import "tailwindcss/utilities";

:root {
  --mountain-green: #95bf11;
  --mountain-mist: #678800;
  --tan-hide: #faa916;
  --gray-manatee: #9e9aa6;
  --gray-lavender: #c3c0c8;
  --gray-platinum: #e7e6e9;
}

.homepage-slider ul.splide__pagination {
  display: none;
}

.mountain-green {
  color: var(--mountain-green);
}

.mountain-mist {
  color: var(--mountain-mist);
}

.tan-hide {
  color: var(--tan-hide);
}

.gray-manatee {
  color: var(--gray-manatee);
}

.gray-lavender {
  color: var(--gray-lavender);
}

.gray-platinum {
  color: var(--gray-platinum);
}

.bg-mountain-green {
  background-color: var(--mountain-green);
}

.bg-mountain-mist {
  background-color: var(--mountain-mist);
}

.bg-tan-hide {
  background-color: var(--tan-hide);
}

.bg-gray-manatee {
  background-color: var(--gray-manatee);
}

.bg-gray-lavender {
  background-color: var(--gray-lavender);
}

.bg-gray-platinum {
  background-color: var(--gray-platinum);
}
